.modal {
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    max-width: 80vw;
    background: var(--background);
    border-radius: var(--common-border-radius-s);
    min-width: 720px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        flex: 1 1 auto;
        margin: 0 auto;
        overflow: hidden;
    }

    &__close-btn {
        cursor: pointer;
        margin-left: auto;
        border: none;
        background: transparent;
    }
}
