.link {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column dense;
    grid-gap: calc(var(--offset-base-size) * 2);
    text-decoration: none;
}

.link--primary {
    color: var(--text-primary-color);
}

.link--secondary {
    color: var(--text-inactive-color);
}