.link {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column dense;
    grid-gap: calc(var(--offset-base-size) * 2);
    text-decoration: none;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--small {
        composes: pr-5 pl-5 text text_type_main-default from global;
    }

    &--large {
        composes: pr-5 pl-5 text text_type_main-medium from global;
        height: 64px;
    }
}

.link--primary {
    color: var(--text-primary-color);
}

.link--secondary {
    color: var(--text-inactive-color);
}
