.ingredient-details {
  display: flex;
  flex-direction: column;

  &__name {
    composes: mt-4 text text_type_main-medium from global;
    text-align: center;
  }
}

.ingredients-attributes {
  --gap-ia: calc(var(--offset-base-size) * 5);
  display: grid;
  grid-template-columns: repeat(4, calc((100% - calc(var(--gap-ia) * 3)) / 4));
  grid-gap: var(--gap-ia);
}

.ingredients-attribute {
  composes: text text_color_inactive text_type_main-default from global;
  display: grid;
  justify-content: center;

  span {
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
}