.form {
  display: flex;
  flex-direction: column;

  &__title {
    composes: text text_type_main-large mb-6 from global;
    text-align: center;
  }

  &__inputs {
    display: grid;
    gap: calc(var(--offset-base-size) * 6);
  }

  &__actions {
    composes: text text_type_main-large mt-6 from global;
    display: flex;
    justify-content: center;
    gap: calc(var(--offset-base-size) * 3);
  }

  &__links {
    composes: mt-20 from global;
    display: grid;
    gap: calc(var(--offset-base-size) * 4);
  }

  &__link {
    composes: text text_type_main-default text_color_accent from global;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__decs {
    composes: text text_color_inactive text_type_main-default from global;
    text-align: center;
  }
}
