.box {
  display: grid;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, calc((100% - var(--offset-base-size) * 10) / 2));
  grid-gap: calc(var(--offset-base-size) * 10);
}
