.constructor {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.item__list {
    flex: 1 1 auto;
    overflow-y: auto;
    display: grid;
    gap: calc(var(--offset-base-size) * 4);
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(var(--offset-base-size) * 10)
}

.item__wrapper {
    display: grid;
    align-items: center;
}

.item__wrapper {
    grid-template-columns: calc(var(--offset-base-size) * 8) 1fr;
    grid-template-areas: 'drag item';
}

.item {
    grid-area: item;
}

.item__img {
    display: block;
    width: 100%;
}

.item--first, .item--last {
    margin-right: 20px;
}

.item--first {
    border-radius: var(--top-constructor-item-border-radius);
}

.item--last {
    border-radius: var(--bottom-constructor-item-border-radius);
}

.order-details__text {
    text-align: center;
}

.order-details__image {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
